<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div ng-include="'components/header/cabecera.html'"></div>
</header>
<div class="col-md-12">

    <div class="page-header">
    </div>
    <div class="jumbotron" ng-controller="SearchCtrl as searchitem">

        <div class="alert alert-success" ng-show="anyadido">
            <p>Añadido correctamente!!!</p>
        </div>
        <div ng-controller="SearchCtrl as searchTool">
            <div class="text-center">
                <button class="glyphicon glyphicon-magnet btn btn-primary text-right" ng-click="open('aa')"> Añadir Magnet</button>
                <form ng-show="!busquedaActiva">
                    <input ng-model="searchWord">
                    <button ng-click=searchClick()>Buscar!</button>
                </form>

            </div>
            </ul>
            <div ng-show="busquedaActiva">
                <div class="load-bar">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>

                </div>
            </div>


            <table ng-table="" class="table">
                <thead>
                    <tr>
                        <td>Titulo</td>
                        <td>Tamaño</td>
                        <td>Seeds</td>
                        <td>Leechs</td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in searchList.list">
                        <h3 class="text-center alert alert-info">Total items:  {{totalItems}}  </h3>
                        <td title="{{item.title}}">{{item.title | specialCharacters}}</td>
                        <!--  <td title="{{item.title | specialCharacters}}">{{item.title | specialCharacters | shortTitle}}</td>-->
                        <td>{{item.size | formatBytes}}</td>
                        <td>{{item.seeds}}</td>
                        <td>{{item.leechs}}</td>
                        <td>
                            <button ng-click="AddTorrent(item.title, item.torrentLink, item.link)">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged(bigCurrentPage)"></pagination>
            </div>
        </div>
    </div>
    <div ng-controller="ModalAddMagnetCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <input class="form-control" ng-model="seleccionActual.title"> </input>
                <inp ut id="checkSlave" type="checkbox" ng-checked="seleccionActual.fixed" aria-label="Fixed">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">Añadir</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
    <div ng-include="'components/footer/footer.html'"></div>